<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139830358084-4769958k1hjs3in9ahfalm72hbll1hv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139830358084-4769958k1hjs3in9ahfalm72hbll1hv5</string>
	<key>API_KEY</key>
	<string>AIzaSyDZt9GhrQBTXj5gIUoDMcMCm5ldYBXkA90</string>
	<key>GCM_SENDER_ID</key>
	<string>139830358084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.homeU</string>
	<key>PROJECT_ID</key>
	<string>serch-star</string>
	<key>STORAGE_BUCKET</key>
	<string>serch-star.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139830358084:ios:a51c8fcc3160cfbddc0c11</string>
</dict>
</plist>